.layout {
  display: flex;
  height: 100vh;
}

.menuButton-container {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  gap: 8px;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  overflow-y: auto;
}
