.row_bg {
  background: white;
}
.row_bg_column1 {
  left: 0px;
  position: sticky;
  max-width: 250px !important;
}
.row_bg_column2 {
  left: 250px;
  position: sticky;
  width: 250px !important;
}
.ToT_row_column1 {
  left: 0px;
  position: sticky;
  min-width: 100px;
}
.ToT_row_column2 {
  left: 100px;
  position: sticky;
  min-width: 250px;
}

.row_bg td {
  background: white;
}
.row_bg:hover td {
  background: #EDF2F7 !important;
}

.row_bg_column2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  box-shadow: inset -2px 0 5px -2px rgba(0,0,0,0.2) !important;
}
.ToT_row_column2::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 2px;
  box-shadow: inset -2px 0 5px -2px rgba(0,0,0,0.2) !important;
}